# large files
docs/assets/wc10/
*.gri
*.grd
*.vrt
docs/assets/GADM*


#
*.pdf
outputs
mapsR_file

# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
